body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.first-heading{
    font-size: 60px; 
    font-family: 'yeseva one', cursive;
    font-weight: 700;
    line-height: 150%;
}
.border-image{
    border-left: 4px solid;
    border-image: linear-gradient(orangered,tomato);
    border-image-slice: 1;
    padding-left: 2%;
}
.paragraph-1{
    margin-bottom: 3%;
    font-size: 20px;
}
.paragraph-2{
    margin-top: 7%;
    font-size: 20px;
}
.heading-color{
    color: rgba(245, 185, 73, 0.918);
}
.stay-focused-area{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    color: #fff;
    padding: 15px 25px;
    border-radius: 7px;
    font-weight: 500;
}
.stay-focused-area-padding{
    padding-top: 100px;
}
.mission-area{
    margin: 5% 0%;
}
.mission-heading{
    text-align: center;
    font-size: 50px;
}
.mission-heading-color{
    color: rgb(15, 15, 66);
}
.inner-mission-area{
    display: flex;
}
.inner-mission-area img{
    width: 40%;
    padding-top: 5%;
}
.mission{
    background-color: rgb(193, 226, 215);
    border-radius: 30px;
    margin-left: 10%;
}
.vission{
    background-color: rgb(207, 203, 197);
    border-radius: 30px;
    margin-left: 2.5%;
}
.goals{
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 2.5%;
}
.third-width{
    width: 25%;
}
.special{
    padding-left: 10%;
    padding-right: 10%;
}
.inner-mission-area p{
    padding-bottom: 5%;
}
.inner-develop-area{
    display: flex;
}
.small-area{
    width: 40%;
}
.bigger-area{
    width: 60%;
    margin-left: 5%;
}
.inner-develop-area img{
    width: 70%;
}
.develop-heading{
    font-size: 40px;
}
.small-area img{
    float: right;
}
.develop-paragraph{
    margin-bottom: 5%;
    margin-right: 20%;
    font-size: 20px;
}
.develop-area{
    margin-bottom: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px 300px;
}

.bigger-community-area{
    width: 60%;
    margin-left: 10%;
}
.small-community-area{
    width: 40%;
}
/*.small-area img{
    float: left;*/
}
.special-class{
    margin-right: 20%;
}
.community-area{
    padding-bottom: 10%;
    margin-bottom: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom ;
    background-size: 300px 300px;
}
