body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 60px; 
    font-family: 'yeseva one', cursive;
    font-weight: 700;
    line-height: 150%;
}
.border-image{
    border-left: 4px solid;
    border-image: linear-gradient(orangered,tomato);
    border-image-slice: 1;
    padding-left: 2%;
}
.paragraph-1{
    margin-bottom: 3%;
    font-size: 20px;
}
.paragraph-2{
    margin-top: 7%;
    font-size: 20px;
}
.heading-color{
    color: rgba(245, 185, 73, 0.918);
}
.stay-focused-area{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 600;
}
.stay-focused-area-padding{
    padding-top: 100px;
}
.mission-area{
    margin: 5% 0%;
}
.mission-heading{
    text-align: center;
    font-size: 50px;
}
.mission-heading-color{
    color: rgb(15, 15, 66);
}
.inner-mission-area{
    display: flex;
}
.inner-mission-area img{
    width: 40%;
    padding-top: 5%;
}
.mission{
    background-color: rgb(193, 226, 215);
    border-radius: 30px;
    margin-left: 10%;
}
.vission{
    background-color: rgb(207, 203, 197);
    border-radius: 30px;
    margin-left: 2.5%;
}
.goals{
    background-color: antiquewhite;
    border-radius: 30px;
    margin-left: 2.5%;
}
.third-width{
    width: 25%;
}
.inner-mission-area img,h2,p{
    padding-left: 10%;
    padding-right: 10%;
}
.inner-mission-area p{
    padding-bottom: 5%;
}